.header {
  font-family: "Jost";
  padding: 56px 40px 40px 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  box-shadow: 0px 4.8px 30px rgba(0, 0, 0, 0.15);
  background: #ffffff;

  .burgerBtn {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    display: flex;
    gap: 93px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;

    div:first-child {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;
    }

    .lang-active {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        display: none;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 4.8px 30px rgba(0, 0, 0, 0.15);
    }

    .lang-option {
        cursor: pointer;
    }

    div.active:first-child ~ .lang-active {
        display: block;
    }
  }

  button {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 11px 26px;
    color: #ffffff;
    box-sizing: border-box;
    background: #49a7eb;
    border-radius: 10px;
    transition: 0.3s;
    border: 3px solid rgba(69, 68, 154, 0.2);

    &:hover {
      background: transparent;
      color: #49a7eb;
    }
  }

  ul {
    display: flex;
    gap: 60px;

    a {
      color: #454868;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
    }
  }

  &__fix {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.burger {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #0099ff;
  padding-top: 134px;
  padding-bottom: 57px;
  box-sizing: border-box;
  transition: 0.3s;
  overflow: hidden;

  &.active {
    // display: flex;
    top: 0;
  }

  nav {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    flex: 1;

    a {
      font-family: "Jost";
      font-weight: 500;
      font-size: 30px;
      line-height: 160%;
      color: rgba(255, 255, 255, 0.6);
      &.active {
        color: #ffffff;
      }
    }
  }

  button {
    background: #ffffff;
    border-radius: 12px;
    font-size: 30px;
    color: #0099ff;
    padding: 10px 25px;
    border: 3px solid #ffffff;
    transition: 0.3s;

    &:active {
      background: #0099ff;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1267px) {
  .header {
    ul {
      gap: 25px;
    }
  }
}

@media screen and (max-width: 1163px) {
  .header {
    ul {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 1127px) {
  .header {
    ul {
      display: none;
    }

    &__block {
      display: none;
    }
  }
}

@media screen and (max-width: 1127px) {
  .header {
    &__content {
      nav {
        display: none;
      }
    }

    .burgerBtn {
      display: inline;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

      &.active {
        rect {
          fill: #fff;
        }

        path {
          stroke: #0194f7;
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    width: 190px;
  }
}
